<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd ">

	<bean id="dataType" class="com.ddb.spring.type.DataType">
		<!-- 使用<![CDATA[]]> 标记处理XML特殊字符 -->
		<property name="specialCharacter1">
			<value><![CDATA[EP&G]]></value>
		</property>
		<property name="specialCharacter2">
			<value>EP&amp;G</value>
		</property>
		<!-- 定义内部Bean -->
		<property name="innerBean">
			<bean class="com.ddb.spring.type.User">
				<property name="username" value="suanyun" />
			</bean>
		</property>
		<!-- 注入List类型 -->
		<property name="list">
			<list>
				<!-- 定义List中的元素 -->
				<value>乒乓球</value>
				<value>羽毛球</value>
				<value>羽毛球</value>
				<value>篮球</value>
				<value>足球</value>
			</list>
		</property>
		<!-- 注入数组类型 -->
		<property name="array">
			<list>
				<!-- 定义数组中的元素 -->
				<value>乒乓球</value>
				<value>羽毛球</value>
				<value>羽毛球</value>
				<value>篮球</value>
				<value>足球</value>
			</list>
		</property>
		<!-- 注入Set类型 -->
		<property name="set">
			<list>
				<!-- 定义Set中的元素 -->
				<value>乒乓球</value>
				<value>羽毛球</value>
				<value>羽毛球</value>
				<value>篮球</value>
				<value>足球</value>
			</list>
		</property>
		<!-- 定义Map类型 -->
		<property name="map">
			<!-- 定义Map的键值对 -->
			<map>
				<entry key="tabletennis" value="乒乓球"></entry>
				<entry key="badminton" value="羽毛球" />
				<entry key="football" value="足球" />
				<entry key="basketball" value="篮球" />
			</map>
		</property>
		<!-- 注入Properties类型 -->
		<property name="props">
			<!-- 定义Properties的键值对 -->
			<props>
				<prop key="tabletennis">乒乓球 </prop>
				<prop key="badminton">羽毛球</prop>
				<prop key="football">足球 </prop>
				<prop key="basketball">篮球</prop>
			</props>
		</property>
		<!-- 注入空字符串值 -->
		<property name="emptyValue">
			<value></value>
		</property>
		<!-- 注入null值 -->
		<property name="nullValue">
			<null />
		</property>

	</bean>
</beans>