<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 使用传统的配置方式 -->
	<!-- <bean name="/product_input.action" class="com.ddb.springmvc.controller.InputProductController" />
	<bean name="/product_save.action" class="com.ddb.springmvc.controller.SaveProductController" /> -->

	<!-- 使用基于注解的配置方式 -->
	<!-- 自动扫描注解所在的包 -->
	<context:component-scan base-package="com.ddb.springmvc.controller" />
	<context:component-scan base-package="com.ddb.springmvc.service.*" />
	
	<!-- <mvc:resources/>元素指示SpringMvc哪些静态资源需要单独处理(不经过dispatcher Servlet)，
	如果没有<mvc:annotation-driven/>，<mvc:resources/>元素会阻止任意控制器被调用，若不需要使用Resources，
	则不需要<mvc:annotation-driven/>元素 -->
	<mvc:annotation-driven/>
	<mvc:resources location="/" mapping="/*.html" />

	<!-- 配置SpringMVC的视图解析器 -->
	<!-- 视图解析器自动增加前缀和后缀 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>
