@charset "utf-8";
html {font-size:62.5%;}
body {font-size:1.6rem; font-family:"microsoft yahei" ,"arial, helvetica, sans-serif";}
body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding:0;margin:0;}
ul,li{ list-style: none;list-style-type:none;}
.login .hd {background:-webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6)); height:45px; -webkit-box-shadow:0 1px 1px 0 #c4c4c4; text-align:center; line-height:45px; font-weight:bold; position:relative;}
.login .hd .back_shop{ display:block; position:absolute; top:14px; left:12px; border:8px solid transparent; border-right:8px solid #ef2185; width:0;  height:0; content: ' '}.login .bd {margin:12px 20px;}
.login .bd .item {height:40px;}
.login .bd label {display:inline-block; width:80px;}
.login .bd input {background:-webkit-gradient(linear,0 0,0 100%,from(#f5f5f5),to(#fdfdfd)); border:solid 1px #DDD;-webkit-appearance:none;border-top-color:#bbb; height:33px;-webkit-box-sizing:border-box;box-sizing:border-box; width:100%; font-size:1.3rem; padding:0 2%;}
.login .ft {margin:0 20px;}
.login .ft .btnLogin {font-size:20px; background:#ef2185; height:40px; text-align:center; border:0; color:#fff; text-shadow:0 -1px 0 #8E5244;-webkit-box-shadow:0 -1px 0 #bf3210 inset; width:100%;}

#msg {width:300px; background:#000; border-radius:0 0 5px 5px; line-height:30px; color:#fff; text-align:center; position:fixed; left:50%; margin:0 0 0 -150px; top:0; z-index:100; opacity:0.8}
.slidedown {
	animation:fromtop 0.5s ease;
	-webkit-animation:fromtop 0.5s ease;
}
@keyframes fromtop {
	from {transform:translateY(-100%)}
}
@-webkit-keyframes fromtop {
	from {-webkit-transform:translateY(-100%)}
}
.slideup {
	animation:totop 0.5s ease;
	-webkit-animation:totop 0.5s ease;
}
@keyframes totop {
	to {transform:translateY(-100%)}
}
@-webkit-keyframes totop {
	to {-webkit-transform:translateY(-100%)}
}
